@font-face {
  font-family: "Netflix Sans";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/NetflixSansBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/NetflixSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/NetflixSansIcon.ttf") format("truetype");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/NetflixSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/NetflixSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/NetflixSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/NetflixSansThin.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Netflix Sans", Arial, sans-serif !important;
  background-color: var(--black40);
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0px;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
ul,
li {
  margin: 0;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

button {
  font-family: "Netflix Sans", Arial, sans-serif !important;
  font-weight: 600 !important;
  background-image: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: none !important;
  margin: 0;
  border: 0;
  outline: 0;
  color: var(--white);
}

:root {
  --black: #000;
  --black10: #181818;
  --black20: rgba(0, 0, 0, 0.6);
  --black30: #111827;
  --black40: #141414;
  --black50: #141414;
  --gray10: #777777;
  --gray20: #9ca3af;
  --gray40: rgba(42, 42, 42, 0.6);
  --white10: #ffffff;
  --white20: #f3f4f6;
  --white30: #d1d5db;
  --green10: #6ee7b7;
  --shadow10: rgba(0, 0, 0, 0.3);
  --shadow20: rgba(158, 155, 155, 0.3);
  --shadow30: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --red: #dc2626;
  --red10: rgba(185, 28, 28, 1);
  --blue: #4b5563;
  --blue20: #373f51;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
