.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  height: 41px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
  user-select: none;
}

.header.scrolled {
  background-color: #141414;
}

.leftHeader {
  display: flex;
  align-items: center;
}

.img {
  margin: 5px 25px 0 0;
  width: 40px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  font-family: "Netflix Sans", Arial, sans-serif;
  font-size: 14px;
  color: #e5e5e5;
  margin-left: 20px;
  transition: color 0.2s;
}

.menu li:hover {
  color: #b3b3b3;
}

.menu li.active {
  color: #ffffff;
  font-weight: 900;
}

.browse {
  color: #ffffff;
  font-size: 1vh;
  display: flex;
  align-items: center;
}

.rightHeader {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
}

@media screen and (min-width: 600px) {
  .img {
    width: 70px;
  }

  .browse {
    font-size: 1.2vh;
  }
}

@media screen and (min-width: 900px) {
  .img {
    width: 100px;
  }

  .header {
    height: 68px;
  }
}
